$theme-icons-font-family: "delka-icons" !default;
$theme-icons-font-path: "../fonts/delka-icons" !default;

$dlk-icon-chevron-thin-up: "\e900";
$dlk-icon-chevron-thin-right: "\e901";
$dlk-icon-chevron-thin-left: "\e902";
$dlk-icon-chevron-thin-down: "\e903";
$dlk-icon-chevron-small-up: "\e904";
$dlk-icon-chevron-small-right: "\e905";
$dlk-icon-chevron-small-left: "\e906";
$dlk-icon-chevron-small-down: "\e907";
$dlk-icon-chevron-right: "\e908";
$dlk-icon-chevron-left: "\e909";
$dlk-icon-chevron-down: "\e90a";
$dlk-icon-chevron-up: "\e90b";
$dlk-icon-whatsapp: "\e90c";
$dlk-icon-arrow-up: "\e90d";
$dlk-icon-arrow-down: "\e90e";
$dlk-icon-instagram: "\e90f";
$dlk-icon-facebook: "\e910";
$dlk-icon-search: "\e911";

