@charset "UTF-8";
/* THEME */
@font-face {
  font-family: "delka-icons";
  src: url("../fonts/delka-icons/delka-icons.eot?2hjgff");
  src: url("../fonts/delka-icons/delka-icons.eot?2hjgff#iefix") format("embedded-opentype"), url("../fonts/delka-icons/delka-icons.ttf?2hjgff") format("truetype"), url("../fonts/delka-icons/delka-icons.woff?2hjgff") format("woff"), url("../fonts/delka-icons/delka-icons.svg?2hjgff#delka-icons") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="dlk-icon-"], [class*=" dlk-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "delka-icons" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.dlk-icon-chevron-thin-up:before {
  content: ""; }

.dlk-icon-chevron-thin-right:before {
  content: ""; }

.dlk-icon-chevron-thin-left:before {
  content: ""; }

.dlk-icon-chevron-thin-down:before {
  content: ""; }

.dlk-icon-chevron-small-up:before {
  content: ""; }

.dlk-icon-chevron-small-right:before {
  content: ""; }

.dlk-icon-chevron-small-left:before {
  content: ""; }

.dlk-icon-chevron-small-down:before {
  content: ""; }

.dlk-icon-chevron-right:before {
  content: ""; }

.dlk-icon-chevron-left:before {
  content: ""; }

.dlk-icon-chevron-down:before {
  content: ""; }

.dlk-icon-chevron-up:before {
  content: ""; }

.dlk-icon-whatsapp:before {
  content: ""; }

.dlk-icon-arrow-up:before {
  content: ""; }

.dlk-icon-arrow-down:before {
  content: ""; }

.dlk-icon-instagram:before {
  content: ""; }

.dlk-icon-facebook:before {
  content: ""; }

.dlk-icon-search:before {
  content: ""; }

@font-face {
  font-family: 'Dupla';
  src: url("../fonts/dupla/DuplaThin-Thin.woff2") format("woff2"), url("../fonts/dupla/DuplaThin-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Dupla';
  src: url("../fonts/dupla/DuplaThin-ThinItalic.woff2") format("woff2"), url("../fonts/dupla/DuplaThin-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic; }

@font-face {
  font-family: 'Dupla';
  src: url("../fonts/dupla/DuplaLight-Light.woff2") format("woff2"), url("../fonts/dupla/DuplaLight-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Dupla';
  src: url("../fonts/dupla/DuplaLight-LightItalic.woff2") format("woff2"), url("../fonts/dupla/DuplaLight-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Dupla';
  src: url("../fonts/dupla/Dupla.woff2") format("woff2"), url("../fonts/dupla/Dupla.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Dupla';
  src: url("../fonts/dupla/Dupla-Italic.woff2") format("woff2"), url("../fonts/dupla/Dupla-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Dupla';
  src: url("../fonts/dupla/DuplaDemibold-DemiBold.woff2") format("woff2"), url("../fonts/dupla/DuplaDemibold-DemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Dupla';
  src: url("../fonts/dupla/DuplaDemibold-DemiBoldItalic.woff2") format("woff2"), url("../fonts/dupla/DuplaDemibold-DemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic; }

@font-face {
  font-family: 'Dupla';
  src: url("../fonts/dupla/Dupla-Bold.woff2") format("woff2"), url("../fonts/dupla/Dupla-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Dupla';
  src: url("../fonts/dupla/Dupla-BoldItalic.woff2") format("woff2"), url("../fonts/dupla/Dupla-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'Dupla';
  src: url("../fonts/dupla/DuplaBlack-Black.woff2") format("woff2"), url("../fonts/dupla/DuplaBlack-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Dupla';
  src: url("../fonts/dupla/DuplaBlack-BlackItalic.woff2") format("woff2"), url("../fonts/dupla/DuplaBlack-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic; }

@font-face {
  font-family: 'DuplaBook';
  src: url("../fonts/dupla/DuplaBook-BookItalic.woff2") format("woff2"), url("../fonts/dupla/DuplaBook-BookItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'DuplaBook';
  src: url("../fonts/dupla/DuplaBook-Book.woff2") format("woff2"), url("../fonts/dupla/DuplaBook-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'DuplaHeavy';
  src: url("../fonts/dupla/DuplaHeavy-HeavyItalic.woff2") format("woff2"), url("../fonts/dupla/DuplaHeavy-HeavyItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic; }

@font-face {
  font-family: 'DuplaHeavy';
  src: url("../fonts/dupla/DuplaHeavy-Heavy.woff2") format("woff2"), url("../fonts/dupla/DuplaHeavy-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

/* ICON FONTS */
@font-face {
  font-family: 'motorpark-icons';
  src: url("../fonts/motorpark-icons/motorpark-icons.eot?vnjcfy");
  src: url("../fonts/motorpark-icons/motorpark-icons.eot?vnjcfy#iefix") format("embedded-opentype"), url("../fonts/motorpark-icons/motorpark-icons.ttf?vnjcfy") format("truetype"), url("../fonts/motorpark-icons/motorpark-icons.woff?vnjcfy") format("woff"), url("../fonts/motorpark-icons/motorpark-icons.svg?vnjcfy#motorpark-icons") format("svg");
  font-weight: normal;
  font-style: normal; }

body, html {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Dupla", sans-serif;
  /* GENERAL STYLES */
  /* END GENERAL STYLES */
  /* HEADER TOP */
  /* END HEADER TOP */
  /* HEADER BANNER */
  /* END HEADER BANNER */
  /* MAIN HEADER */
  /* END MAIN HEADER */
  /* MAIN FOOTER */
  /* END MAIN FOOTER */
  /* LATEST POSTS */
  /* END LATEST POSTS */ }
  body.internal-page #header-top .row .slogan, html.internal-page #header-top .row .slogan {
    min-height: 100px; }
  body.internal-page #header-top .row .search, html.internal-page #header-top .row .search {
    display: none; }
  body.internal-page #header-top .row .logo, html.internal-page #header-top .row .logo {
    text-align: left;
    margin-top: 64px;
    padding-left: 15px; }
  body.internal-page #header-banner, html.internal-page #header-banner {
    margin-bottom: -70px; }
    @media (max-width: 991.98px) {
      body.internal-page #header-banner, html.internal-page #header-banner {
        margin-bottom: -40px; } }
    body.internal-page #header-banner .banner img, html.internal-page #header-banner .banner img {
      min-height: 400px;
      object-fit: cover; }
      @media (max-width: 991.98px) {
        body.internal-page #header-banner .banner img, html.internal-page #header-banner .banner img {
          min-height: 300px; } }
  body.internal-page #main-header .navbar, html.internal-page #main-header .navbar {
    justify-content: flex-start; }
    body.internal-page #main-header .navbar .navbar-nav, html.internal-page #main-header .navbar .navbar-nav {
      margin-left: 0 !important; }
  body a, html a {
    color: #444;
    transition: all 0.2s ease-in-out; }
    @media screen and (prefers-reduced-motion: reduce) {
      body a, html a {
        transition: none; } }
    body a:hover, html a:hover {
      color: #f15922;
      text-decoration: none; }
  body ul, body ol, html ul, html ol {
    list-style-type: none;
    padding: 0;
    margin: 0; }
  body .btn-theme, html .btn-theme {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 14px;
    background: #f15922;
    padding: 12px 30px 13px;
    border: none;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    display: inline-block;
    border-radius: 10px 0 10px 0; }
    @media screen and (prefers-reduced-motion: reduce) {
      body .btn-theme, html .btn-theme {
        transition: none; } }
    body .btn-theme:hover, html .btn-theme:hover {
      color: #fff;
      background: #bb3a0c; }
    body .btn-theme.white, html .btn-theme.white {
      background: #fff;
      color: #f15922; }
      body .btn-theme.white:hover, html .btn-theme.white:hover {
        background: #f15922;
        color: #fff; }
      body .btn-theme.white-border, html .btn-theme.white-border {
        background: transparent;
        border: 1px solid #fff; }
        body .btn-theme.white-border:hover, html .btn-theme.white-border:hover {
          background: #fff;
          color: #f15922; }
  body button, html button {
    transition: all 0.2s ease-in-out; }
    @media screen and (prefers-reduced-motion: reduce) {
      body button, html button {
        transition: none; } }
  body .form-validate select.error,
  body .form-validate textarea.error,
  body .form-validate input.error, html .form-validate select.error,
  html .form-validate textarea.error,
  html .form-validate input.error {
    border-color: red !important; }
  body .form-validate label.error, html .form-validate label.error {
    position: absolute;
    color: red;
    font-size: 12px;
    top: 100%;
    left: 0;
    margin-top: 3px; }
    body .form-validate label.error:not([style*="display:none"]):not([style*="display: none"]) ~ .chosen-container-single .chosen-single, html .form-validate label.error:not([style*="display:none"]):not([style*="display: none"]) ~ .chosen-container-single .chosen-single {
      border-color: red !important; }
  body .form-validate .checkbox label.error, html .form-validate .checkbox label.error {
    display: none !important; }
  body nav.pagination-links, html nav.pagination-links {
    width: 100%;
    margin: 30px 0 0; }
    body nav.pagination-links ul, html nav.pagination-links ul {
      width: 100%;
      text-align: center; }
      body nav.pagination-links ul li, html nav.pagination-links ul li {
        display: inline-block;
        margin: auto; }
        body nav.pagination-links ul li a, body nav.pagination-links ul li span, html nav.pagination-links ul li a, html nav.pagination-links ul li span {
          border: 1px solid #c9cfd1;
          width: 50px;
          height: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1.25em;
          margin: 0 5px; }
        body nav.pagination-links ul li a:hover, html nav.pagination-links ul li a:hover {
          border-color: #222;
          background: #222;
          color: #fff; }
        body nav.pagination-links ul li.active span, html nav.pagination-links ul li.active span {
          color: #f15922; }
  body input, body select, body textarea, html input, html select, html textarea {
    border-radius: 0px !important;
    height: 44px !important;
    border: 1px solid #ccc;
    width: 100%;
    padding: 0 15px; }
  body .form-group, html .form-group {
    position: relative;
    margin-bottom: 30px;
    display: inline-block;
    width: 100%; }
  body .checkbox input[type=checkbox], html .checkbox input[type=checkbox] {
    display: none;
    /* Esconde os inputs */ }
  body .checkbox input[type=checkbox] + label, body .checkbox input[type=checkbox] + label + label, html .checkbox input[type=checkbox] + label, html .checkbox input[type=checkbox] + label + label {
    display: inline-block;
    height: 20px;
    margin: 0 10px 10px 0;
    position: relative;
    line-height: 23px;
    cursor: pointer;
    color: #666; }
    body .checkbox input[type=checkbox] + label:hover, body .checkbox input[type=checkbox] + label + label:hover, html .checkbox input[type=checkbox] + label:hover, html .checkbox input[type=checkbox] + label + label:hover {
      opacity: .8; }
    body .checkbox input[type=checkbox] + label:before, body .checkbox input[type=checkbox] + label + label:before, html .checkbox input[type=checkbox] + label:before, html .checkbox input[type=checkbox] + label + label:before {
      content: '';
      display: inline-block;
      width: 23px;
      height: 23px;
      border: 1px solid #ccc;
      float: left;
      margin-right: 10px; }
  body .checkbox input[type=checkbox]:checked + label:after, body .checkbox input[type=checkbox]:checked + label + label:after, html .checkbox input[type=checkbox]:checked + label:after, html .checkbox input[type=checkbox]:checked + label + label:after {
    font-family: "delka-icons";
    content: "\e919";
    position: absolute;
    top: 1px;
    left: 3px;
    z-index: 2;
    color: #222;
    font-size: 20px;
    line-height: 1; }
  body .checkbox input.error + label, body .checkbox input.error + label + label, html .checkbox input.error + label, html .checkbox input.error + label + label {
    color: red !important; }
    body .checkbox input.error + label:before, body .checkbox input.error + label + label:before, html .checkbox input.error + label:before, html .checkbox input.error + label + label:before {
      border-color: red; }
  body .radio input[type=radio], html .radio input[type=radio] {
    display: none;
    /* Esconde os inputs */ }
  body .radio input[type=radio] + label, html .radio input[type=radio] + label {
    display: inline-block;
    height: 20px;
    margin: 0 10px 10px 0;
    position: relative;
    line-height: 23px;
    cursor: pointer;
    color: #666; }
    body .radio input[type=radio] + label:hover, html .radio input[type=radio] + label:hover {
      opacity: .8; }
    body .radio input[type=radio] + label:before, html .radio input[type=radio] + label:before {
      content: '';
      display: inline-block;
      width: 24px;
      height: 24px;
      border: 1px solid #ccc;
      float: left;
      margin-right: 10px;
      border-radius: 100%; }
  body .radio input[type=radio]:checked + label:after, html .radio input[type=radio]:checked + label:after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    top: 6px;
    left: 6px;
    z-index: 2;
    background: #222;
    border-radius: 100%; }
  body .dropdown-menu, html .dropdown-menu {
    background: #f15922;
    border-radius: 10px 0 10px 0;
    padding: 0;
    margin: 3px 0 0;
    border: none; }
    body .dropdown-menu a, html .dropdown-menu a {
      color: #fff;
      padding: 10px 15px;
      text-align: center; }
      body .dropdown-menu a:not(:last-child), html .dropdown-menu a:not(:last-child) {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
      body .dropdown-menu a:first-child, html .dropdown-menu a:first-child {
        border-radius: 10px 0 0 0; }
      body .dropdown-menu a:last-child, html .dropdown-menu a:last-child {
        border-radius: 0 0 10px 0; }
      body .dropdown-menu a:hover, html .dropdown-menu a:hover {
        background: #bb3a0c;
        color: #fff; }
  body h2.title, html h2.title {
    color: #f15922;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase; }
  body #header-top, html #header-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999; }
    body #header-top .row, html #header-top .row {
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap; }
      @media (max-width: 575.98px) {
        body #header-top .row, html #header-top .row {
          flex-direction: column;
          align-items: flex-start; } }
      body #header-top .row .slogan, html #header-top .row .slogan {
        position: relative;
        min-height: 200px;
        width: 100%;
        max-width: 40%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 60px; }
        @media (max-width: 991.98px) {
          body #header-top .row .slogan, html #header-top .row .slogan {
            display: none; } }
        body #header-top .row .slogan:before, html #header-top .row .slogan:before {
          content: '';
          width: 200%;
          height: 100%;
          position: absolute;
          top: 0;
          right: 0;
          background: #f15922 url("../images/symbol.jpg") no-repeat 60% 0;
          background-size: contain;
          border-radius: 0 0 50px 0; }
        body #header-top .row .slogan strong, html #header-top .row .slogan strong {
          color: #fff;
          font-size: 30px;
          font-weight: 400;
          line-height: 37px;
          text-transform: uppercase;
          letter-spacing: 0.15px;
          position: relative;
          z-index: 2; }
      body #header-top .row .search, html #header-top .row .search {
        margin-left: auto;
        background: rgba(255, 255, 255, 0.5);
        border-radius: 0 0 10px 10px;
        position: relative;
        height: 40px;
        margin-right: 5px; }
        @media (max-width: 991.98px) {
          body #header-top .row .search, html #header-top .row .search {
            margin: 0 auto 0 0; } }
        @media (max-width: 575.98px) {
          body #header-top .row .search, html #header-top .row .search {
            display: none; } }
        body #header-top .row .search form, html #header-top .row .search form {
          display: flex;
          height: 40px !important; }
          body #header-top .row .search form input, html #header-top .row .search form input {
            background: transparent;
            border: none;
            height: 40px !important;
            color: #f15922;
            font-size: 12px;
            font-weight: 600;
            text-transform: uppercase;
            min-width: 200px; }
          body #header-top .row .search form button, html #header-top .row .search form button {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border: none;
            background: none;
            height: 40px;
            color: #f15922;
            font-size: 12px;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 0.06px; }
            body #header-top .row .search form button i, html #header-top .row .search form button i {
              margin-left: 4px; }
      @media (max-width: 575.98px) {
        body #header-top .row .languages, html #header-top .row .languages {
          margin-left: auto;
          margin-right: 15px; } }
      body #header-top .row .languages .btn-theme, html #header-top .row .languages .btn-theme {
        height: 40px !important;
        border-radius: 0 0 10px 10px; }
      body #header-top .row .logo, html #header-top .row .logo {
        width: 100%;
        justify-self: flex-end;
        text-align: right;
        margin: 0 100px 0 0; }
        @media (max-width: 991.98px) {
          body #header-top .row .logo, html #header-top .row .logo {
            text-align: center;
            margin: 40px 0 0; } }
  body #header-banner, html #header-banner {
    margin-bottom: -115px;
    z-index: 1;
    position: relative; }
    body #header-banner .carousel .item, html #header-banner .carousel .item {
      position: relative; }
      body #header-banner .carousel .item img, html #header-banner .carousel .item img {
        width: 100%;
        min-height: 750px;
        object-fit: cover; }
        @media (max-width: 991.98px) {
          body #header-banner .carousel .item img, html #header-banner .carousel .item img {
            object-position: 30%; } }
      body #header-banner .carousel .item .content, html #header-banner .carousel .item .content {
        position: absolute;
        top: 50%;
        left: 65%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
        @media (max-width: 991.98px) {
          body #header-banner .carousel .item .content, html #header-banner .carousel .item .content {
            width: 100%;
            top: 25%;
            left: 0;
            text-align: center;
            -webkit-transform: translate(0, 0);
            -moz-transform: translate(0, 0);
            -ms-transform: translate(0, 0);
            -o-transform: translate(0, 0);
            transform: translate(0, 0); } }
        body #header-banner .carousel .item .content p, html #header-banner .carousel .item .content p {
          color: #fff;
          font-size: 30px;
          font-weight: 400;
          line-height: 40.18px;
          text-transform: uppercase; }
  body #main-header, html #main-header {
    position: relative;
    z-index: 2; }
    body #main-header .navbar, html #main-header .navbar {
      width: 100%;
      justify-content: flex-end;
      position: static; }
      body #main-header .navbar .navbar-toggler, html #main-header .navbar .navbar-toggler {
        border: 1px solid #f15922;
        background: #f15922; }
        body #main-header .navbar .navbar-toggler span, html #main-header .navbar .navbar-toggler span {
          width: 30px;
          height: 3px;
          background: #fff;
          position: relative;
          margin: 15px 0; }
          body #main-header .navbar .navbar-toggler span:before, body #main-header .navbar .navbar-toggler span:after, html #main-header .navbar .navbar-toggler span:before, html #main-header .navbar .navbar-toggler span:after {
            content: '';
            width: 30px;
            height: 3px;
            background: #fff;
            display: inline-block;
            position: absolute;
            top: -8px;
            left: 0; }
          body #main-header .navbar .navbar-toggler span:after, html #main-header .navbar .navbar-toggler span:after {
            top: 8px; }
      body #main-header .navbar-nav .nav-item a, html #main-header .navbar-nav .nav-item a {
        color: #d35a2b;
        font-size: 16px;
        font-weight: 400;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 0.4px; }
      body #main-header .navbar-nav .nav-item.active a, html #main-header .navbar-nav .nav-item.active a {
        font-weight: 700; }
      body #main-header .navbar-nav .nav-item.dropdown, html #main-header .navbar-nav .nav-item.dropdown {
        position: static; }
        body #main-header .navbar-nav .nav-item.dropdown .dropdown-menu, html #main-header .navbar-nav .nav-item.dropdown .dropdown-menu {
          width: 100%;
          border-radius: 0;
          -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
          -moz-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3); }
          @media (max-width: 767.98px) {
            body #main-header .navbar-nav .nav-item.dropdown .dropdown-menu, html #main-header .navbar-nav .nav-item.dropdown .dropdown-menu {
              -webkit-box-shadow: unset;
              -moz-box-shadow: unset;
              box-shadow: unset; } }
          body #main-header .navbar-nav .nav-item.dropdown .dropdown-menu .submenus, html #main-header .navbar-nav .nav-item.dropdown .dropdown-menu .submenus {
            display: flex;
            flex-wrap: wrap; }
            body #main-header .navbar-nav .nav-item.dropdown .dropdown-menu .submenus .vehicles, html #main-header .navbar-nav .nav-item.dropdown .dropdown-menu .submenus .vehicles {
              width: 100%;
              max-width: 25%;
              border-radius: 0 10px 0 10px;
              padding: 32px 32px 0; }
              @media (max-width: 1199.98px) {
                body #main-header .navbar-nav .nav-item.dropdown .dropdown-menu .submenus .vehicles, html #main-header .navbar-nav .nav-item.dropdown .dropdown-menu .submenus .vehicles {
                  max-width: 50%; } }
              @media (max-width: 767.98px) {
                body #main-header .navbar-nav .nav-item.dropdown .dropdown-menu .submenus .vehicles, html #main-header .navbar-nav .nav-item.dropdown .dropdown-menu .submenus .vehicles {
                  max-width: 100%; } }
              @media (max-width: 575.98px) {
                body #main-header .navbar-nav .nav-item.dropdown .dropdown-menu .submenus .vehicles, html #main-header .navbar-nav .nav-item.dropdown .dropdown-menu .submenus .vehicles {
                  padding: 16px 16px 0; } }
              body #main-header .navbar-nav .nav-item.dropdown .dropdown-menu .submenus .vehicles strong, html #main-header .navbar-nav .nav-item.dropdown .dropdown-menu .submenus .vehicles strong {
                color: #fff;
                font-size: 18px;
                font-weight: 600;
                line-height: 14px;
                width: 100%;
                display: inline-block;
                border-bottom: 1px solid #fff;
                padding-bottom: 16px;
                margin-bottom: 32px; }
              body #main-header .navbar-nav .nav-item.dropdown .dropdown-menu .submenus .vehicles ul, html #main-header .navbar-nav .nav-item.dropdown .dropdown-menu .submenus .vehicles ul {
                width: 100%; }
                body #main-header .navbar-nav .nav-item.dropdown .dropdown-menu .submenus .vehicles ul li, html #main-header .navbar-nav .nav-item.dropdown .dropdown-menu .submenus .vehicles ul li {
                  display: flex;
                  align-items: center;
                  margin: 0 0 32px; }
                  body #main-header .navbar-nav .nav-item.dropdown .dropdown-menu .submenus .vehicles ul li .title, html #main-header .navbar-nav .nav-item.dropdown .dropdown-menu .submenus .vehicles ul li .title {
                    max-width: 50%; }
                    body #main-header .navbar-nav .nav-item.dropdown .dropdown-menu .submenus .vehicles ul li .title h4, html #main-header .navbar-nav .nav-item.dropdown .dropdown-menu .submenus .vehicles ul li .title h4 {
                      color: #fff;
                      font-size: 20px;
                      font-weight: 600; }
                  body #main-header .navbar-nav .nav-item.dropdown .dropdown-menu .submenus .vehicles ul li .info, html #main-header .navbar-nav .nav-item.dropdown .dropdown-menu .submenus .vehicles ul li .info {
                    margin-left: auto;
                    padding-left: 15px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center; }
                    body #main-header .navbar-nav .nav-item.dropdown .dropdown-menu .submenus .vehicles ul li .info .image, html #main-header .navbar-nav .nav-item.dropdown .dropdown-menu .submenus .vehicles ul li .info .image {
                      margin-bottom: 16px; }
                    body #main-header .navbar-nav .nav-item.dropdown .dropdown-menu .submenus .vehicles ul li .info a, html #main-header .navbar-nav .nav-item.dropdown .dropdown-menu .submenus .vehicles ul li .info a {
                      text-transform: none;
                      color: #fff;
                      min-width: 120px;
                      border-radius: 12px 0 12px 0; }
  body #main-footer, html #main-footer {
    background: #f15922; }
    body #main-footer .banner-top, html #main-footer .banner-top {
      position: relative;
      min-height: 100px; }
      body #main-footer .banner-top img, html #main-footer .banner-top img {
        height: 100%;
        object-fit: cover; }
      body #main-footer .banner-top .content, html #main-footer .banner-top .content {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        color: #f15922;
        font-size: 24px;
        font-weight: 600;
        text-transform: uppercase;
        line-height: 1;
        letter-spacing: 0.12px; }
    body #main-footer .columns, html #main-footer .columns {
      display: flex;
      width: 100%;
      justify-content: space-between;
      padding: 60px 0 40px; }
      @media (max-width: 767.98px) {
        body #main-footer .columns, html #main-footer .columns {
          flex-direction: column;
          text-align: center; } }
      body #main-footer .columns .column, html #main-footer .columns .column {
        width: 100%; }
        @media (max-width: 767.98px) {
          body #main-footer .columns .column, html #main-footer .columns .column {
            max-width: 100% !important; } }
        body #main-footer .columns .column.menu, html #main-footer .columns .column.menu {
          max-width: 40%;
          display: flex;
          flex-direction: column; }
          body #main-footer .columns .column.menu a, html #main-footer .columns .column.menu a {
            flex-grow: 0;
            color: #fff;
            font-size: 18px;
            font-weight: 600;
            text-transform: uppercase;
            margin: 5px 0; }
            body #main-footer .columns .column.menu a:hover, html #main-footer .columns .column.menu a:hover {
              color: #a3330a; }
        body #main-footer .columns .column.logo, html #main-footer .columns .column.logo {
          max-width: 20%;
          padding-top: 32px; }
          @media (max-width: 767.98px) {
            body #main-footer .columns .column.logo, html #main-footer .columns .column.logo {
              padding: 64px 0; } }
        body #main-footer .columns .column.last, html #main-footer .columns .column.last {
          max-width: 40%;
          display: inline-flex;
          flex-direction: column; }
          @media (max-width: 991.98px) {
            body #main-footer .columns .column.last, html #main-footer .columns .column.last {
              max-width: 50%;
              padding-left: 30px; } }
          @media (max-width: 767.98px) {
            body #main-footer .columns .column.last, html #main-footer .columns .column.last {
              max-width: 40%;
              padding: 0 15px;
              line-height: 1.6; } }
          body #main-footer .columns .column.last .first-row, html #main-footer .columns .column.last .first-row {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            padding-bottom: 16px;
            margin-bottom: 16px; }
            body #main-footer .columns .column.last .first-row .social a, html #main-footer .columns .column.last .first-row .social a {
              font-size: 24px;
              color: #fff;
              margin-right: 10px;
              line-height: 1;
              display: inline-block;
              margin-top: 5px; }
            body #main-footer .columns .column.last .first-row:after, html #main-footer .columns .column.last .first-row:after {
              content: '';
              width: 2000px;
              height: 2px;
              background: #fff;
              position: absolute;
              top: 100%;
              left: 0; }
          body #main-footer .columns .column.last .second-row, html #main-footer .columns .column.last .second-row {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            flex-direction: column;
            text-align: right; }
            body #main-footer .columns .column.last .second-row .phones, html #main-footer .columns .column.last .second-row .phones {
              display: flex;
              justify-content: flex-end;
              align-items: flex-end;
              line-height: 1; }
              body #main-footer .columns .column.last .second-row .phones .divider, html #main-footer .columns .column.last .second-row .phones .divider {
                width: 4px;
                height: 4px;
                display: block;
                border-radius: 100%;
                background: #fff;
                margin: 0 16px 4px; }
              body #main-footer .columns .column.last .second-row .phones a, html #main-footer .columns .column.last .second-row .phones a {
                font-size: 22px; }
                body #main-footer .columns .column.last .second-row .phones a:hover, html #main-footer .columns .column.last .second-row .phones a:hover {
                  color: #a3330a; }
            body #main-footer .columns .column.last .second-row a, body #main-footer .columns .column.last .second-row address, html #main-footer .columns .column.last .second-row a, html #main-footer .columns .column.last .second-row address {
              color: #fff;
              font-family: "Dupla", sans-serif;
              font-size: 16px;
              font-weight: 400; }
              @media (max-width: 767.98px) {
                body #main-footer .columns .column.last .second-row a, body #main-footer .columns .column.last .second-row address, html #main-footer .columns .column.last .second-row a, html #main-footer .columns .column.last .second-row address {
                  font-size: 14px; } }
            body #main-footer .columns .column.last .second-row a, html #main-footer .columns .column.last .second-row a {
              width: auto; }
              @media (max-width: 767.98px) {
                body #main-footer .columns .column.last .second-row a, html #main-footer .columns .column.last .second-row a {
                  font-size: 18px; } }
              body #main-footer .columns .column.last .second-row a:hover, html #main-footer .columns .column.last .second-row a:hover {
                color: #a3330a; }
  @media (max-width: 991.98px) {
    body #latest-posts, html #latest-posts {
      text-align: center; } }
  body #latest-posts #posts, html #latest-posts #posts {
    background-color: #f3f3f3;
    margin-top: 32px;
    padding: 32px 0; }
    @media (max-width: 991.98px) {
      body #latest-posts #posts, html #latest-posts #posts {
        text-align: left; } }
    body #latest-posts #posts .posts, html #latest-posts #posts .posts {
      display: flex;
      justify-content: space-between; }
      @media (max-width: 991.98px) {
        body #latest-posts #posts .posts, html #latest-posts #posts .posts {
          flex-direction: column; } }
      body #latest-posts #posts .posts article, html #latest-posts #posts .posts article {
        width: 100%;
        max-width: calc(50% - 30px);
        padding: 0 15px;
        position: relative; }
        @media (max-width: 991.98px) {
          body #latest-posts #posts .posts article, html #latest-posts #posts .posts article {
            max-width: 80%;
            margin: 0 auto 64px; } }
        body #latest-posts #posts .posts article:before, html #latest-posts #posts .posts article:before {
          content: '';
          width: 80%;
          height: 4px;
          background: #f15922;
          display: inline-block;
          margin-left: 20%;
          margin-bottom: 16px;
          border-radius: 50px; }
        body #latest-posts #posts .posts article .feature-image, html #latest-posts #posts .posts article .feature-image {
          margin-bottom: 16px; }
          @media (max-width: 991.98px) {
            body #latest-posts #posts .posts article .feature-image .image, html #latest-posts #posts .posts article .feature-image .image {
              width: 100%; } }
          body #latest-posts #posts .posts article .feature-image .image img, html #latest-posts #posts .posts article .feature-image .image img {
            width: 100%; }
          body #latest-posts #posts .posts article .feature-image .image:hover, html #latest-posts #posts .posts article .feature-image .image:hover {
            opacity: .8; }
          body #latest-posts #posts .posts article .feature-image .info, html #latest-posts #posts .posts article .feature-image .info {
            width: auto;
            display: inline-block;
            background: #f15922;
            border-radius: 0 0 10px 0;
            padding: 5px 18px 5px 15px;
            line-height: 1; }
            body #latest-posts #posts .posts article .feature-image .info span, html #latest-posts #posts .posts article .feature-image .info span {
              color: #fff;
              font-size: 14px;
              font-weight: 600; }
        body #latest-posts #posts .posts article h4 a, html #latest-posts #posts .posts article h4 a {
          color: #f15922;
          font-size: 24px;
          font-weight: 600;
          line-height: 1;
          display: inline-block; }
          body #latest-posts #posts .posts article h4 a:hover, html #latest-posts #posts .posts article h4 a:hover {
            color: #bb3a0c; }

/* PAGES */
#homepage {
  padding: 50px 0 0;
  /* BOARDING WITH DELKA */
  /* END BOARDING WITH DELKA */ }
  #homepage #vehicles .vehicles {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 5px;
    justify-content: space-between; }
    #homepage #vehicles .vehicles .vehicle {
      width: 100%;
      max-width: calc(50% - 20px);
      padding: 0 10px;
      display: flex;
      flex-direction: column;
      margin-bottom: 64px; }
      @media (max-width: 767.98px) {
        #homepage #vehicles .vehicles .vehicle {
          max-width: 100%; } }
      #homepage #vehicles .vehicles .vehicle .image {
        margin-bottom: 32px; }
        #homepage #vehicles .vehicles .vehicle .image img {
          width: 100%; }
      #homepage #vehicles .vehicles .vehicle strong {
        color: #f15922;
        font-size: 24px;
        line-height: 14px;
        width: 100%;
        display: inline-block;
        margin-bottom: 16px;
        font-weight: 600; }
      #homepage #vehicles .vehicles .vehicle p {
        color: #545454;
        font-size: 14px;
        font-weight: 400; }
      #homepage #vehicles .vehicles .vehicle .dropdown button {
        width: 100%;
        max-width: 360px;
        text-align: left;
        display: flex;
        align-items: center; }
        #homepage #vehicles .vehicles .vehicle .dropdown button:after {
          margin-left: 8px; }
      #homepage #vehicles .vehicles .vehicle .dropdown .dropdown-menu {
        width: 100%;
        max-width: 360px;
        border-radius: 0 10px 0 10px;
        padding: 32px 32px 0; }
        #homepage #vehicles .vehicles .vehicle .dropdown .dropdown-menu strong {
          color: #fff;
          font-size: 18px;
          font-weight: 600;
          line-height: 14px;
          width: 100%;
          display: inline-block;
          border-bottom: 1px solid #fff;
          padding-bottom: 16px;
          margin-bottom: 32px; }
        #homepage #vehicles .vehicles .vehicle .dropdown .dropdown-menu ul {
          width: 100%; }
          #homepage #vehicles .vehicles .vehicle .dropdown .dropdown-menu ul li {
            display: flex;
            align-items: center;
            margin: 0 0 32px; }
            #homepage #vehicles .vehicles .vehicle .dropdown .dropdown-menu ul li .title {
              max-width: 50%; }
              #homepage #vehicles .vehicles .vehicle .dropdown .dropdown-menu ul li .title h4 {
                color: #fff;
                font-size: 20px;
                font-weight: 600; }
            #homepage #vehicles .vehicles .vehicle .dropdown .dropdown-menu ul li .info {
              margin-left: auto;
              padding-left: 15px;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center; }
              #homepage #vehicles .vehicles .vehicle .dropdown .dropdown-menu ul li .info .image {
                margin-bottom: 16px; }
              #homepage #vehicles .vehicles .vehicle .dropdown .dropdown-menu ul li .info a {
                min-width: 120px;
                border-radius: 12px 0 12px 0; }
  #homepage #boarding-with-delka {
    padding: 30px 0 100px; }
    #homepage #boarding-with-delka h2.title {
      margin-bottom: 32px; }
      @media (max-width: 767.98px) {
        #homepage #boarding-with-delka h2.title {
          text-align: center; } }
    #homepage #boarding-with-delka .first-row {
      width: 100%;
      display: flex;
      justify-content: center;
      position: relative;
      z-index: 2; }
      @media (max-width: 767.98px) {
        #homepage #boarding-with-delka .first-row {
          flex-direction: column;
          text-align: center; } }
      #homepage #boarding-with-delka .first-row > div {
        width: 100%;
        max-width: 50%; }
        @media (max-width: 767.98px) {
          #homepage #boarding-with-delka .first-row > div {
            max-width: 100%; } }
        #homepage #boarding-with-delka .first-row > div.left {
          display: flex;
          justify-content: center;
          flex-direction: column;
          background: #f15922;
          padding: 30px 15px;
          position: relative; }
          #homepage #boarding-with-delka .first-row > div.left:before {
            content: '';
            width: 200%;
            height: 100%;
            display: block;
            background: #f15922;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 1; }
          #homepage #boarding-with-delka .first-row > div.left .content {
            position: relative;
            z-index: 2;
            padding-right: 64px; }
            @media (max-width: 767.98px) {
              #homepage #boarding-with-delka .first-row > div.left .content {
                padding: 0; } }
            #homepage #boarding-with-delka .first-row > div.left .content p {
              color: #fff;
              font-size: 16px;
              font-weight: 600; }
            #homepage #boarding-with-delka .first-row > div.left .content a {
              margin-top: 32px;
              border: 1px solid; }
        #homepage #boarding-with-delka .first-row > div.right {
          background: #eee;
          border-radius: 0 0 10px 0; }
          @media (max-width: 767.98px) {
            #homepage #boarding-with-delka .first-row > div.right {
              border-radius: 0; } }
          #homepage #boarding-with-delka .first-row > div.right .image {
            width: 100%; }
            @media (max-width: 991.98px) {
              #homepage #boarding-with-delka .first-row > div.right .image {
                height: 50%; } }
            #homepage #boarding-with-delka .first-row > div.right .image img {
              width: 100%; }
              @media (max-width: 991.98px) {
                #homepage #boarding-with-delka .first-row > div.right .image img {
                  height: 100%;
                  object-fit: cover; } }
          #homepage #boarding-with-delka .first-row > div.right .box {
            padding: 32px;
            display: flex;
            justify-content: space-between;
            align-items: center; }
            @media (max-width: 991.98px) {
              #homepage #boarding-with-delka .first-row > div.right .box {
                height: 50%; } }
            #homepage #boarding-with-delka .first-row > div.right .box .text {
              color: #f15922;
              font-size: 28px;
              font-weight: 600;
              text-transform: uppercase;
              line-height: 1; }
    #homepage #boarding-with-delka .second-row {
      display: flex;
      width: 100%;
      position: relative;
      z-index: 1; }
      @media (max-width: 767.98px) {
        #homepage #boarding-with-delka .second-row {
          flex-direction: column;
          text-align: center; } }
      #homepage #boarding-with-delka .second-row > div {
        width: 100%;
        max-width: 50%; }
        @media (max-width: 767.98px) {
          #homepage #boarding-with-delka .second-row > div {
            max-width: 100%; } }
        #homepage #boarding-with-delka .second-row > div.left .image {
          width: 100%; }
          #homepage #boarding-with-delka .second-row > div.left .image img {
            width: 100%;
            padding-left: 15px; }
            @media (max-width: 767.98px) {
              #homepage #boarding-with-delka .second-row > div.left .image img {
                padding: 0; } }
        #homepage #boarding-with-delka .second-row > div.right {
          text-align: center; }
          #homepage #boarding-with-delka .second-row > div.right .tour-360 {
            position: relative;
            background: #f15922;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: -32px;
            text-align: left; }
            #homepage #boarding-with-delka .second-row > div.right .tour-360:before {
              content: '';
              width: 200%;
              height: 100%;
              display: block;
              background: #f15922;
              position: absolute;
              top: 0;
              left: 0;
              z-index: 1; }
            #homepage #boarding-with-delka .second-row > div.right .tour-360 .info,
            #homepage #boarding-with-delka .second-row > div.right .tour-360 .icon {
              position: relative;
              z-index: 2; }
            #homepage #boarding-with-delka .second-row > div.right .tour-360 .icon {
              margin: 32px 0 0 32px; }
              @media (max-width: 991.98px) {
                #homepage #boarding-with-delka .second-row > div.right .tour-360 .icon {
                  display: none; } }
            #homepage #boarding-with-delka .second-row > div.right .tour-360 .info {
              color: #fff;
              font-size: 22px;
              font-weight: 600;
              line-height: 28.02px;
              text-transform: uppercase;
              padding: 64px 32px 32px 64px; }
              @media (max-width: 991.98px) {
                #homepage #boarding-with-delka .second-row > div.right .tour-360 .info {
                  text-align: center; } }
          #homepage #boarding-with-delka .second-row > div.right .symbol {
            margin-top: 64px; }
            @media (max-width: 991.98px) {
              #homepage #boarding-with-delka .second-row > div.right .symbol {
                display: none; } }

#about-page {
  padding: 50px 0; }

/* GENERAL IMPORTS */
/*
 * Custom Select jQuery Plugin Base
 */
.jquery-select {
  position: relative; }
  .jquery-select__option {
    overflow: hidden;
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 0;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    font-family: inherit;
    white-space: nowrap;
    text-align: left;
    text-overflow: ellipsis;
    cursor: pointer;
    user-select: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }
  .jquery-select__option-wrap {
    position: relative; }
  .jquery-select__input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 0;
    border-width: 1px 0;
    border-style: solid;
    border-radius: 0;
    font-family: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }
  .jquery-select__dropdown {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    top: 100%;
    left: 0; }
    .jquery-select--dropup .jquery-select__dropdown {
      top: auto;
      bottom: 100%; }

/*
 * Custom Select jQuery Plugin Theme
 */
.jquery-select__option {
  position: relative;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  color: #212121;
  line-height: 1.5; }
  .jquery-select__option:focus {
    outline: none; }
  .jquery-select__option:hover, .jquery-select__option:focus {
    background-color: #f9f9f9; }
  .jquery-select__option--value {
    padding-right: 1.875rem;
    background-color: #fff;
    border: 1px solid #e6e5e5;
    border-radius: 0.25rem; }
    .jquery-select__option--value::after {
      position: absolute;
      box-sizing: border-box;
      width: 0;
      height: 0;
      top: 50%;
      right: 0.75rem;
      border-width: 0.3rem;
      border-bottom-width: 0;
      border-style: solid;
      border-color: currentColor transparent;
      transform: translateY(-50%);
      content: ""; }
      .jquery-select--active .jquery-select__option--value::after {
        transform: translateY(-50%) rotate(-180deg); }
    .jquery-select--active .jquery-select__option--value {
      border-bottom-color: transparent;
      border-radius: 0.25rem 0.25rem 0 0; }
      .jquery-select--active .jquery-select__option--value:hover, .jquery-select--active .jquery-select__option--value:focus {
        background-color: #fff; }
      .jquery-select--dropup.jquery-select--active .jquery-select__option--value {
        border-top-color: transparent;
        border-bottom-color: #e6e5e5;
        border-radius: 0 0 0.25rem 0.25rem; }
  .jquery-select__option--selected {
    background-color: #fcfcfc; }
  .jquery-select__option[disabled] {
    color: #a1a0a0;
    cursor: default; }
    .jquery-select__option[disabled]:hover, .jquery-select__option[disabled]:focus {
      background-color: transparent; }

.jquery-select__option-wrap {
  overflow-y: auto;
  max-height: 11.25rem; }
  .jquery-select__option-wrap::-webkit-scrollbar {
    width: 16px; }
  .jquery-select__option-wrap::-webkit-scrollbar-thumb {
    background-color: #e6e5e5;
    background-clip: padding-box;
    border-width: 0 4px;
    border-style: solid;
    border-color: transparent; }

.jquery-select__input {
  position: relative;
  z-index: 1;
  height: 2.25rem;
  margin-top: -1px;
  padding: 0 0.75rem;
  border-color: #e6e5e5;
  transform: translateY(1px);
  font-size: 1rem;
  color: #212121; }
  .jquery-select__input:focus {
    outline: none; }
  .jquery-select--dropup .jquery-select__input {
    border-top-width: 0;
    margin-top: 0;
    transform: translateY(0); }

.jquery-select__dropdown {
  overflow: hidden;
  z-index: 1;
  top: calc(100% - 1px);
  background-color: #fff;
  border-width: 0 1px 1px;
  border-style: solid;
  border-color: #e6e5e5;
  border-radius: 0 0 0.25rem 0.25rem; }
  .jquery-select--dropup .jquery-select__dropdown {
    bottom: calc(100% - 1px);
    border-width: 1px 1px 0;
    border-radius: 0.25rem 0.25rem 0 0; }

/*
 *  Owl Carousel - Core
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1; }
  .owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
    touch-action: manipulation;
    -moz-backface-visibility: hidden;
    /* fix firefox animation glitch */ }
  .owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }
  .owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    /* fix for flashing background */
    -webkit-transform: translate3d(0px, 0px, 0px); }
  .owl-carousel .owl-wrapper,
  .owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0); }
  .owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none; }
  .owl-carousel .owl-item img {
    display: block; }
  .owl-carousel .owl-nav.disabled,
  .owl-carousel .owl-dots.disabled {
    display: none; }
  .owl-carousel .owl-nav .owl-prev,
  .owl-carousel .owl-nav .owl-next,
  .owl-carousel .owl-dot {
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel .owl-nav button.owl-prev,
  .owl-carousel .owl-nav button.owl-next,
  .owl-carousel button.owl-dot {
    background: none;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit; }
  .owl-carousel.owl-loaded {
    display: block; }
  .owl-carousel.owl-loading {
    opacity: 0;
    display: block; }
  .owl-carousel.owl-hidden {
    opacity: 0; }
  .owl-carousel.owl-refresh .owl-item {
    visibility: hidden; }
  .owl-carousel.owl-drag .owl-item {
    touch-action: pan-y;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel.owl-grab {
    cursor: move;
    cursor: grab; }
  .owl-carousel.owl-rtl {
    direction: rtl; }
  .owl-carousel.owl-rtl .owl-item {
    float: right; }

/* No Js */
.no-js .owl-carousel {
  display: block; }

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  animation-duration: 1000ms;
  animation-fill-mode: both; }

.owl-carousel .owl-animated-in {
  z-index: 0; }

.owl-carousel .owl-animated-out {
  z-index: 1; }

.owl-carousel .fadeOut {
  animation-name: fadeOut; }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  transition: height 500ms ease-in-out; }

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item {
  /**
			This is introduced due to a bug in IE11 where lazy loading combined with autoheight plugin causes a wrong
			calculation of the height of the owl-item that breaks page layouts
		 */ }
  .owl-carousel .owl-item .owl-lazy {
    opacity: 0;
    transition: opacity 400ms ease; }
  .owl-carousel .owl-item .owl-lazy[src^=""], .owl-carousel .owl-item .owl-lazy:not([src]) {
    max-height: 0; }
  .owl-carousel .owl-item img.owl-lazy {
    transform-style: preserve-3d; }

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000; }

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform 100ms ease; }

.owl-carousel .owl-video-play-icon:hover {
  transform: scale(1.3, 1.3); }

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none; }

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease; }

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%; }
