$baseDir: '../';

$theme-default-font-family: 'Dupla', sans-serif;
$theme-book-font-family: 'DuplaBook', sans-serif;
$theme-heavy-font-family: 'DuplaHeavy', sans-serif;
$theme-icon-font-family: "delka-icons";

$theme-first-color: #f15922;
$theme-second-color: #222;

$theme-default-link-color: $theme-second-color;

$theme-default-button-color: $theme-default-link-color;
$theme-default-button-background: $theme-first-color;

$theme-default-button-color-hover: $theme-default-button-color;
$theme-default-button-background-hover: lighten($theme-default-button-background, 10%);

$theme-default-transition: all .2s ease-in-out;
